<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite" >
    <listeners>
        <listener class-name="utilities.listeners.Listener"/>
        <listener class-name="utilities.listeners.AnnotationTransformer"/>
    </listeners>

    <test name="Practical Test">
        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.HomePageTest"></class>
            <class name="tests.BaseTest"></class>
        </classes>
    </test>
</suite>